apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-secret
  namespace: nextcloud
type: Opaque
stringData:
  admin-user: "<nextcloud admin username>"
  admin-password: "<nextcloud admin password>"
  postgresql-username: "<username for the nextcloud Postgres DB>"
  postgresql-password: "<password for the nextcloud Postgres DB>"
  redis-password: "<redis auth password>"
