apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-secret
  namespace: nextcloud
type: Opaque
stringData:
  admin-user: "admin"
  admin-password: "<random-password>"
  postgresql-username: "nextcloud"
  postgresql-password: "<random-password>"
  redis-password: "<random-password>"
