apiVersion: v1
kind: Secret
metadata:
  name: paperless-secret
  namespace: paperless-ngx
type: Opaque
stringData:
  POSTGRES_PASSWORD: "<random-password>"
  PAPERLESS_SECRET_KEY: "<generate-with: openssl rand -base64 64>"
